body {
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: #f1f1f1;
    width: 1300px;
    font-family: "Avenir", Verdana;
    font-size: 100%;
}

.container h1 {
    text-align: center;
    font-size: 150%;
}

.panel-card {
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 0.5em;
}

.panel-card h5 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.panel-title h5 {
	padding-left: 10px;
	margin-bottom: 0px;
}

.panel-body {
    padding-top: 0px;
}

.parent_div_1 {
  width:100%;
}

.child_div_1 {
  width: 65%;
}

.child_div_2 {
  width: 35%;
}

.child_div_1, .child_div_2 {
    float: left;
}

.child_div_1 > div, .child_div_2 > div {
    min-height: 710px;
}

.chart {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.chart > svg {
    width: 100%;
}



#tableSummary table {
    width: 100%;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #cbd5e8}

th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    vertical-align: middle;
}

bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
}
